www.ramankamisarau.com {
    redir https://ramankamisarau.com{uri}
}

ramankamisarau.com {
        root * /home/raman/ramankamisarau/raman-front/build
        route /backend* {
            uri strip_prefix /backend
            reverse_proxy 46.101.212.75:1337
        }

        route /* {
            try_files {path} /index.html
	        file_server
        }
}
