:root{
  --accent-color: rgb(194,177,130);
}

body {
  margin: 0;
  min-height: 100vh;
  display:flex; 
  flex-direction:column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  font-family: 'Lucida Sans', Arial, sans-serif;
  letter-spacing: -0.03rem;
  font-weight: 50;
}

#root {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.65)), url("../public/img/background.webp");
  background-attachment: fixed, fixed;
  background-size: cover, cover;
}

#page-container {
  min-height: 100vh;
  display:flex; 
  flex-direction:column;
}

main {
  padding-top: 8%;
  flex: 1;
  margin: 0 18%;
}

footer {
  min-height:35px;
  margin: 0 15%;
  padding-top: 15px;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  letter-spacing: 0.02rem;
  color: var(--accent-color);
  font-size: 4rem;
  margin-bottom: 10px;
}

h2#pianist {
  font-size: 1.1rem;
  font-style: italic;
  margin-bottom: 50px;
}

.block h2.supertitle {
  font-size: 1.4rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.block h2 {
  font-size: 1rem;
  font-weight: 100;
}

code, pre {
  font-family: inherit;
}

nav {
  padding: 0 18%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

nav ul {
  list-style-type: none;
  display: inline-block;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a{
  color: white;
  transition: color 0.2s;
}

nav ul li a:hover{
  color: var(--accent-color);
}

#social a img:hover{
  filter: brightness(200%);
}


.block {
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
}

.block h2 {
  margin: 0;
}

.block a {
  color: black;
  background-color: white;
  padding: 5px 10px;
  transition: color 0.3s, background-color 0.3s;
}

.block a:hover {
  color: white;
  background-color: black;
}

.contact-info a {
  color: white;
  background: none !important;
  display: block;
}

.contact-info a:hover {
  color: var(--accent-color);
}

.gallery-grid {
  columns: 3;
  column-gap: 7px;
}

.gallery-grid img{
  cursor: pointer;
  width: 100%;
  transition: filter 0.3s, transform 0.3s;
  margin: 2px 0;
}

.gallery-grid img.preview-image:hover{
  filter: brightness(40%);
  transform: scale(98.5%);
}
